{% extends 'QuestServerQuestBundle:QuestionType:layout.html.twig' %}

{% block content -%}
    <h1>QuestionType creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_questiontype') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
